[Unit]
Description=ineedmyip server
After=network.target

[Service]
StartLimitInterval=0
Restart=always
TimeoutStartSec=0
Restart=always
RestartSec=60s
ExecStart=/usr/bin/python /home/ineedmyip/server/server.py

[Install]
WantedBy=multi-user.target
